/*------- Layout-------  */

.row{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.main-row{
  margin: 2rem 20% 2rem 20%;
}

.col{
  margin-top: 2rem;
}


.logo-container{
  margin: 5rem 2rem 3rem 2rem;
  text-align: center;
}

.logo{
  height: 100%;
  width: 100%;
  max-width: 30rem;
}

h1{
  font-size: 2.5rem;
  color: #293579;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.50rem;
}

a{
  font-size: 1.50rem;
  color: #293579;
}

a:hover{
  color: #3A4BAC;
}

.header-container{
  width: 100%;
  height: 100%;
  text-align: center;
}

.text-container{
  margin: 2rem;
}

.button-container{
  margin: 3rem;
}

/*-----Buttons------*/
.login , .register{
  background-color: #293579;
  border-color: #293579;
  width: 100%;
  height: 3rem;
  max-width: 300px
}

.register{
  background-color: white;
  color: black;
}

.login:hover , .register:hover{
  background-color: #3A4BAC;
}

/*-------Individual Design-------  */

.product-img{
  width: 100%;
  height: auto;
  max-width: 500px;
  min-width: 200px;
}
